.staffTags-tag-pill {
	border-radius: 8px !important;
}

.staffTags-tag-icon {
	margin-left: 4px;
}

.staffTags-tag-icon.staffTags-tag-chat {
	/* Don't ask */
	position: relative;
	margin-left: 0.25rem;
	top: 0.0625rem;
	width: 0.875rem;
	height: 0.875rem;
}

.staffTags-tag-icon.staffTags-tag-chat.staffTags-tag-compact {
	margin-left: 0;
	margin-right: 0.25rem;
}

/* use !important as these settings are off by default and discord sometimes likes to break things */

.staffTags-tag-text.staffTags-tag-uncapitalize {
	text-transform: none !important;
}

.staffTags-tag-text.staffTags-tag-rounded {
	border-radius: 9999px !important;
	/* lol i am so good at css */
}