.staffTags-tag-pill {
	border-radius: 8px !important;
}

.staffTags-tag-icon {
	margin-left: 0.25rem;
}

.staffTags-tag-icon.staffTags-tag-chat {
	/* Don't ask */
	position: relative;
	top: 0.0625rem;
	width: 0.875rem;
	height: 0.875rem;
}
